
.admin-btn.btn-1 {
    font-style: normal;
    font-weight: 200;
    margin-right: 15px;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        border: 1px solid $soft-green;
        background-color: $soft-green;
        transition: 0.2s ease-in-out;
    }
}

.admin-btn.btn-2 {
    font-style: normal;
    font-weight: 200;
    margin-right: 15px;
    border: 1px solid $md-dark-grey;
    background-color: $soft-grey;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.8;
        transition: 0.2s ease-in-out;
        background-color: $md-dark-grey;
        // color: $base-white;
    }
}

.admin-btn.btn-3 a,
.admin-btn.btn-3 {
    font-style: normal;
    font-weight: 200;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $base-black;
    padding: 5px 10px;
    border-radius: 3px;
    color: $base-white;
    background-color: $base-black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
        background-color: $soft-grey;
        transition: 0.2s ease-in-out;
        color: $base-black;
    }
}

.admin-btn.btn-save {
    font-style: normal;
    font-weight: 200;
    margin-right: 15px;
    border: 1px solid $soft-green;
    background-color: $soft-green;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.8;
        // border: 1px solid $soft-green;
        // background-color: $soft-green;
        // transition: 0.2s ease-in-out;
    }
}

.admin-btn.btn-delete {
    font-style: normal;
    font-weight: 200;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 72, 72);
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    background-color: rgb(255, 72, 72);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
        color: rgb(255, 72, 72);
        background-color: white;
        transition: 0.2s ease-in-out;
    }
}