/* * * * * * * About Section * * * * * * */
.about-section {
    width: 100%;
    min-height: 20vh;
    position: relative;
    margin: 25vh 0 45vh;
}

.about-left {
    width: 75%;
}

.about-left h2 {
    @include main-section-title;
    margin-bottom: 50px;
}

.about-left p {
    @include main-paragraph;
    padding: 5vh 10% 5vh 0;
    background-color: $base-white;
    @include main-bg-shadow;
}

.about-left .main-cta-light {
    @include main-cta-light;
    width: 200px;
    transition: $fast-transition;
    float: right;
    margin-top: 50px;
    &:hover {
        border: 1px solid rgba($color: #000000, $alpha: 0);
        transition: $fast-transition;
        background: rgba(30, 30, 30, 0.1);
    }
}

.about-right {
    @include main-paragraph;
    width: 65%;
    height: 65%;
    background-color: $medium-grey;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 1200px) {
    .main-wrapper {
        width: 90%;
    }

    .asmr-section {
        flex-direction: column;
        align-items: center;
    }

    .asmr-left {
        order: 1;
        background-color: $base-white;
        width: 75%;
        margin-top: -190px;
        float: right;
        margin-left: auto;
        padding: 7%;
    }

    .asmr-right {
        margin-top: 0;
        width: 80%;
        height: 55vh;
    }

    .footer-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 1050px) {
    footer {
        min-height: 60vh !important;
    }

    .footer-wrapper {
        width: 90%;
        flex-direction: column;
    }

    .footer-right,
    .footer-left,
    .footer-top {
        flex-direction: column;
    }

    .footer-content:nth-of-type(2) {
        margin-top: 50px;
    }

    .footer-left h2 {
        margin: 50px 0px;
    }

    .footer-top {
        margin: 50px 0;
    }

    .footer-bottom {
        margin: 0px 0px 50px 0;
    }
}


@media only screen and (max-width: 768px) {
    .newsletter-right, .newsletter-left {
        width: 95%;
    }

    .asmr-left {
        width: 90%;
    }

    .asmr-right {
        width: 100%;
    }
}