.user-active {
    padding: 40px;
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 100;
    background-color: rgba($color: $soft-grey, $alpha: 0.9);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style: italic;
}

.right-margin-md {
    margin-right: 50px;
}

.table-wrapper {
    padding: 3rem!important;
}

.flex-cell {
    display: flex;
    justify-content: flex-start;
}

.admin-btn.btn-1 {
    font-style: normal;
    font-weight: 200;
    margin-right: 15px;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: white;
        background-color: darkgrey;
        transition: 0.2s ease-in-out;
    }
}

.admin-btn.btn-2 {
    font-style: normal;
    font-weight: 200;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 72, 72);
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    background-color: rgb(255, 72, 72);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
        color: rgb(255, 72, 72);
        background-color: white;
        transition: 0.2s ease-in-out;
    }
}

.admin-btn.btn-3 a {
    font-style: normal;
    font-weight: 200;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $base-black;
    padding: 5px 10px;
    border-radius: 3px;
    color: $base-white;
    background-color: $base-black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
        background-color: $soft-grey;
        transition: 0.2s ease-in-out;
        color: $base-black;
    }
}

.admin-form h2 {
    display: block;
    margin-bottom: 70px;
    font-size: 1.7em;
    font-weight: 400;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}

.admin-form h3 {
    float: left;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 400;
}