.user-active {
    padding: 0 7%;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    background-color: rgba($color: $soft-grey, $alpha: 1);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-style: italic;
    top: 0;
}

.right-margin-md {
    margin-right: 50px;
}

.right-padding-md {
    padding-right: 50px;
}

.table-wrapper {
    padding: 3rem 5%;
    margin-top: 100px;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 20px 0px;
    padding: 2%;
    border-radius: 10px;
}

.flex-row-homepage {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 20px 0px;
    padding: 1%;
    border-radius: 10px;
}

.flex-row-color-1 {
    background-color: $soft-grey;
}

.flex-row-head {
    background-color: $soft-green;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
}

.flex-col-small {
    width: 6%;
}

.flex-col-md {
    width: 65%;
}

input {
    padding: 10px;
}

textarea {
    padding: 10px;
    height: auto;
    width: 100%;
}

.clear-margin {
    margin: 0 !important;
}

.clear-padding {
    padding: 0 !important;
}

.button-wrapper {
    display: flex;
}

.admin-form h2 {
    margin-bottom: 50px;
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    padding: 20px;
    background-color: $soft-green;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $base-black;
    border-radius: 10px;
}

.admin-form h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 400;
}

.image-upload {
    padding: 0;
    margin: 15px 0;
}
