/* * * * * * * Asmr Section * * * * * * */

.asmr-section {
    display: flex;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.asmr-left {
    width: 55vw;
}

.asmr-left-content {
    width: 85%;
}

.asmr-right {
    width: 45vw;
    margin-top: 25vh;
}

.asmr-left h2 {
    @include main-section-title;
    margin-bottom: 20px;
}

.asmr-left p {
    @include main-paragraph;
    margin-bottom: 10vh;
}

.asmr-image-box {
    height: 100%;
}

.asmr-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.asmr-left-content a {
    @include main-cta-light;
    width: 200px;
    transition: $fast-transition;
}




/* * * * * * * Newsletter Section * * * * * * */

.newsletter-section {
    // padding: 0 7vw;
    height: 100vh;
    width: 100%;
    // background-color: pink;
    display: flex;
    flex-direction: column;
    margin-bottom: 25vh;
}

.newsletter-section h2 {
    @include main-section-title;
    margin-bottom: 20px;
}

.newsletter-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.newsletter-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 68%;
    height: 70%;
    background-color: $soft-grey;
    display: flex;
    justify-content: center;
    padding-top: 6%;
}

.newsletter-left form {
    height: 75%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newsletter-left form .main-cta-dark {
    @include main-cta-dark;
}

.newsletter-left form h3 {
    font-weight: 200;
    font-size: 1em;
}

.newsletter-left form input {
    width: 75%;
    height: 40px;
    background: rgba(0,0,0,0);
    border: 1px solid grey;
    padding-left: 10px;
    font-weight: 200;
    font-size: 0.9em;
    margin-bottom: 60px;
    outline: none;
}

.newsletter-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 68%;
    height: 65%;
}

.newsletter-right img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 150px;
}

.page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background: $soft-grey;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    &:hover {
        background-color: $medium-grey;
    }
}

.page-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item.active {
    background-color: $soft-green;
}