.mail-wrapper {
    height: 100vh;
    width: 100%;
    background: $soft-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mail-wrapper h1 {
    @include main-section-title;
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.mail-wrapper h2 {
    font-weight: 400;
    font-size: 1.3em;
    color: $dark-grey;
    text-align: left;
    margin-top: 30px;
}

.mail-container {
    width: 80%;
    height: 65%;
    background-color: rgba(250,250,250, 0.9);
    border-radius: 20px;
}

.center-mail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10%;
}

.mail-content,
.mail-intro {
    text-align: left;
}

.mail-intro {
    font-weight: 400;
}

.mail-outro {
    margin-top: 30px;
    font-weight: 500;
    text-align: left;
    padding: 2%;
    padding-left: 0;
}

.mail-content, .mail-subject {
    font-weight: 200;
    text-align: left;
    margin-top: 30px !important;
    display: block;
}

.mail-content {
    background: #dadada;
    border-radius: 10px;
    padding: 3%;
}

.mail-subject {
    font-weight: 600;
    font-size: 1em;
    background: $soft-green;
    border-radius: 10px;
    padding: 1.5% 3%;
}

.mail-subject span {
    font-weight: 600;
}
