footer {
    width: 100vw;
    min-height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-fx {
    height: 100%;
    width: 100%;
    background-image: url("/images/footer-bg-image.jpg");
    background-color: $soft-green;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.footer-img-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: spac;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-left h2 {
    @include main-section-title;
    color: $base-white;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer-content h3 {
    @include small-italic-title;
}

.footer-content li {
    @include footer-listitems;
}

.footer-bottom p {
    @include main-paragraph;
    color: $base-white;
}